# Kompilierte Dateien haben idR in Versionskontrolle nichts zu suchen
*.class
# Komische BlueJ meta file
*.ctxt
#Photoshop originaldateien
*.psd
#Affinity originaldateien
*.afphoto
# JavaDoc
doc/
# Compiler meta
scripts/sources.txt
target/
# Spielinterne Datenbank
.db/
# Server Dependencies
server/node_modules/
*.env
