# Kompilierte Dateien haben idR in Versionskontrolle nichts zu suchen
*.class
# Komische BlueJ meta file
*.ctxt
#Photoshop originaldateien
*.psd
# JavaDoc
doc/
# Compiler meta
scripts/sources.txt
target/
# Spielinterne Datenbank
.db/
